<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form id="uploadForm">
        <input type="file" id="file" name="file" required><br><br>
        <button type="button" onclick="uploadFile()">Upload File</button>
    </form>

    <div id="progressWrapper">
        <div id="progressBar"></div>
    </div><br><br>

    <script>
        function uploadFile() {
            const fileInput = document.getElementById('file');
            const formData = new FormData();
            formData.append('file', fileInput.files[0]);

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload', true);

            xhr.upload.onprogress = function(event) {
                if (event.lengthComputable) {
                    const percentComplete = (event.loaded / event.total) * 100;
                    document.getElementById('progressWrapper').style.display = 'block';
                    document.getElementById('progressBar').style.width = percentComplete + '%';
                }
            };

            xhr.onload = function() {
                if (xhr.status === 200) {
                    const response = JSON.parse(xhr.responseText);
                    window.location.href = `/options?filename=${response.filename}`;
                } else {
                    console.error('Error:', xhr.statusText);
                }
            };

            xhr.onerror = function() {
                console.error('Error:', xhr.statusText);
            };

            xhr.send(formData);
        }
    </script>
</body>
</html>
